<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Secret Page</title>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="abour-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Secret Page</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recent-text">
                        <img class="img-fluid" src="" alt="" />
                        <h1>Lorem Ipsum</h1>
                        <p>p</p>
                        <button class="btn btn-primary">More</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>