<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#" style="color:rgb(18, 208, 233);">Alok jadhav</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/secret">Secret</a>
            </li>
        </ul>
        <span class="navbar-text" style="color: white;">
            Made With ❤
        </span>
    </div>
</nav>

<header style="background:rgb(223, 146, 52);
background-position: center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-black">
                    <h1> Welcome To MERN Project</h1>
                    <p>Made With ❤ by Alok Jadhav</p>
                </div>
            </div>
        </div>
    </div>

</header>